<%= form_for @comment, :html => {class: "container"} do |f| %>
  <div class="form-group">
    <%= f.label :answer_content, "あなたのコメント" %>
    <%= f.text_area :content, class: "form-control", size: "40x10" %>
    <div class="row justify-content-end pt-4">
      <%= f.submit "コメントする", class: "btn btn-primary" %>
      <input type="reset" class="btn btn-outline-secondary" value="キャンセル">
    </div>
  </div> 
<% end %>