<div class="container">
  <div class="form-group">
    <label for="answer_content">あなたのコメント</label>
    <textarea class="form-control" rows="10" col="40"></textarea>
    <div class="row justify-content-end pt-4">
      <button type="button" class="btn btn-primary">コメント</button>
      <button type="button" class="btn btn-outline-secondary">キャンセル</button>
    </div>
  </div> 
</div>