<div class="question-area">
  <%= render "layouts/question" %>
</div>
<div class="container">
  <div class="form-group">
    <label>あなたの回答</label>
    <textarea class="form-control"></textarea>
    <button type="button" class="btn btn-primary">回答する</button>
    <button type="button" class="btn btn-outline-secondary">キャンセル</button>
  </div> 
</div>
