<div class="question-area">
  
</div>
<div class="container form-group">
  <textarea class="form-control-lg"></textarea>
  <button type="button" class="btn btn-danger">回答する</button>
  <button type="button" class="btn btn-danger">キャンセル</button>
</div>
