html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}

main {
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
}