<div class="container">
  <div class="border p-3">
    <div class="row border-bottom">
      <img class="col-1">
      <p class="col-9 font-weight-bold">山中祥太郎</p>
      <p class="col-2">2020/05/28</p>
    </div>
    <div class="row border-bottom">
      <p class="lead col">これは答えの内容です。これは答えの内容です。これは答えの内容です。これは答えの内容です。これは答えの内容です。これは答えの内容です。これは答えの内容です。これは答えの内容です。これは答えの内容です。これは答えの内容です。</p>
    </div>
    <div>
      <i class="fas fa-heart fa-2x fa-fw" style="color:red;"></i>
      <i class="fas fa-comments fa-2x fa-fw" style="color:lavender;"></i>
    </div>
  </div>
</div>