<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-danger">
      <a class="navbar-brand" href="/answers">
        <i class="far fa-grin-squint-tears fa-3x text-white">ogiri</i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/answers" class="nav-link">ホーム</a>
          </li>
          <li class="nav-item">
            <a href="/users/:id/edit" class="nav-link">プロフィール編集</a>
          </li>
          <li class="nav-item">
            <a href="/answers/rank" class="nav-link">ランキング</a>
          </li>
          <li class="nav-item">
            <a href="/answers/new" class="nav-link">新規作成</a>
          </li>
          <li>
            <a href="/" class="nav-link">ログアウト</a>
          </li>
          <li class="nav-item">
            <a href="/users/new" class="nav-link">新規登録</a>
          </li>
        </ul>
        </div>
  </nav>
</header>