<header class="navbar navbar-expand-lg navbar-dark bg-danger">
    <i class="far fa-grin-squint-tears fa-3x text-white">ogiri</i>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/answer/index" class="nav-link">ホーム</a>
      </li>
      <li class="nav-item">
        <a href="/user/:id/edit" class="nav-link">プロフィール編集</a>
      </li>
      <li class="nav-item">
        <a href="/answer/rank" class="nav-link">ランキング</a>
      </li>
      <li class="nav-item">
        <a href="/answer/new" class="nav-link">新規作成</a>
      </li>
      <li>
        <a href="/" class="nav-link">ログアウト</a>
      </li>
      <li class="nav-item">
        <a href="/user/new" class="nav-link">新規登録</a>
      </li>
    </ul>
</header>