<div class="container">
  <div class="border">
    <div class="row justify-content-center">
      <p class="lead">2020/05/28のお題</p>
    </div>
    <div class="row border-top">
      <p class="lead col">これはお題の内容です。これはお題の内容です。これはお題の内容です。これはお題の内容です。これはお題の内容です。これはお題の内容です。これはお題の内容です。これはお題の内容です。これはお題の内容です。これはお題の内容です。</p>
    </div>
  </div>
</div>