<div class="container">
  <div class="border">
    <div class="row border-bottom">
      <img  class="col-1">
      <p class="col-8">山中祥太郎</p>
      <button type="button" class="btn btn-primary col-2">フォローする</button>
    </div>
    <div class="row">
      <p　class="col">これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。</p>
    </div>
  </div>
</div>