<div class="container">
  <div class="border p-3">
    <div class="row">
      <img src="test_icon.png" class="col-1">
      <a href="/users/:id" class="col-8 font-weight-bold">山中祥太郎</a>
      <button type="button" class="btn btn-primary col-2">フォローする</button>
    </div>
    <div class="row">
      <p class="col pt-4">これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。これは自己紹介文です。</p>
    </div>
  </div>
</div>